#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  display: grid;
  width: 100%;
  height: 100%;
}

.startButton {
  justify-self: center;
  width: 10%;
  background-color: #DCB69A;
}

.content {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.title {
  display: grid;
  grid-template-columns: 65% 15% 15%;
  gap: 10px;
  width: 80%;
}

.display {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 80vh;
  padding: 1rem;
  width: 40%;
  align-items: center;
  border: 1px solid navy;
  border-radius: 10%;
}

.guessPanel {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 80%;
}

.numberPanel {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.numberPanel div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  background-color:antiquewhite;
  border: 2px solid saddlebrown;
}

.resultPanel {
  display: grid;
  grid-template-columns: repeat(2, 50%);  
}

.resultPanel div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  background-color: #DCB69A;
  border: 2px solid saddlebrown;
}

/* .guessPanel div {
  background-color: saddlebrown;
  border: 1px solid white;
  border-radius: 0%;
  width: 10%;
  aspect-ratio: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.numberInput {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.numberInput div{
  display: block;
  border: 1px solid black;
  height: 100%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 1.5em;
}

.numPad {
  display: flex;
  width: 80%;
  height: 10%;
  flex-flow: row wrap;
  margin-top: 10px;
}

.numButton {
  display: flex;
	align-items: center;
	justify-content: center;
  flex: 1 0 15%;

  color: white;
  background-color: rgb(177, 104, 53);
  border: 1px solid rgba(255, 255, 255, .25);
}

.numButton:hover {
  cursor: pointer;
  background-color: saddlebrown;
}